#root {
  align-items: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 9px;
  right:900px;
  display: flex;
  align-items: right;
  justify-content: flex-start;
}
h1 span {
  display: block;
  width: 20px;
  height: 22px;
  margin-right: 8px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));
}
.temperature {
  position: absolute;
  top: 21px;
  left: 800px;
}
.humidity {
  position: absolute;
  top: 21px;
  left: 900px;
}
.pressure {
  position: absolute;
  top: 21px;
  left: 1000px;
}
.settings {     
  position: absolute;
  top: 21px;
  left: 1100px;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
