#root {
  align-items: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right:900px;
  display: flex;
  align-items: right;
  justify-content: flex-start;
}
h1 span {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));
}
nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 25px;
  right: 20px;
}
.header-items{
  display: flex;
  justify-content: start;
}
.header-item{
  margin: 0px 20px;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
